version: '3'
services:
  mysql:
    image: mysql:latest
    container_name: blabla-mysql
    restart: unless-stopped
    ports:
      - 3306:3306
    volumes:
      - /home/ubuntu/db/mysql/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: blabla
      MYSQL_USER: blabla
      MYSQL_PASSWORD: blabla123

  app:
    image: dallae/blabla-spring
    container_name: blabla-spring
    ports:
      - 8080:8080
    volumes:
      - /home/ubuntu/spring/compose:/config
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://blabla-mysql:3306/blabla?useSSL=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: blabla
      SPRING_DATASOURCE_PASSWORD: blabla123
    depends_on:
      - mysql

  swagger:
    image: swaggerapi/swagger-ui
    container_name: blabla-swagger
    ports:
      - 8000:8080
    restart: on-failure
    volumes:
      - /home/ubuntu/spring/compose/openapi3.blabla.json:/config/docs/openapi3.blabla.json
    environment:
      SWAGGER_JSON: /config/docs/openapi3.blabla.json